version: '3'
services:
  #  server:
  #    build: '.'
  #  ports:
  #    - '4000:4000'
  #  environment:
  #    - PRISMA_MANAGEMENT_API_SECRET=${PRISMA_MANAGEMENT_API_SECRET}
  #  depends_on:
  #    - prisma

  prisma:
    image: prismagraphql/prisma:1.29
    restart: always
    ports:
      - '4466:4466'
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # managementApiSecret: ${PRISMA_MANAGEMENT_API_SECRET}
        databases:
          default:
            connector: postgres
            host: ${PG_HOST}
            database: ${PG_DB}
            user: ${PG_USER}
            password: ${PG_PASS}
            rawAccess: true
            port: ${PG_PORT}
            migrations: true
